aiocryptopay
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
attrs
certifi
charset-normalizer
frozenlist
idna
multidict
propcache
pydantic
pydantic_core
pyTelegramBotAPI
python-dotenv
requests
typing_extensions
urllib3
yarl
